@import url("https://fonts.googleapis.com/css2?family=Karla");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Karla;
  background-color: #0b2434;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
